<main>
  <div class="products-page"></div>
  <div class="page-inner-content" style="padding:1rem 1rem;">
      
    <h2 class="section-title">Todos os Produtos</h2>
    <div class="subtitle-underline"></div>

    <div class="cols cols-4" style="padding-top: 1rem;">
      <!-- Produto 1 -->
      <div class="product">
        <img src="assets/products/nic-mango-2.png" alt="NYX Mango" />
        <p class="product-name">NYX MANGO 9MG</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price"><span>R$</span>30,00</p>
        <button class="cta-button" (click)="adicionarCarrinho()">Adicionar ao Carrinho</button>
      </div>

      <!-- Produto 2 -->
      <div class="product">
        <img src="assets/products/nic-energy.png" alt="NYX Energy" />
        <p class="product-name">NYX ENERGY 9MG</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price"><span>R$</span>30,00</p>
        <button class="cta-button" (click)="adicionarCarrinho()">Adicionar ao Carrinho</button>
      </div>

      <!-- Produto 3 -->
      <div class="product">
        <img src="assets/products/nic-menthol.png" alt="NYX Menthol" />
        <p class="product-name">NYX MENTHOL 9MG</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price"><span>R$</span>30,00</p>
        <button class="cta-button" (click)="adicionarCarrinho()">Adicionar ao Carrinho</button>
      </div>

      <!-- Produto 4 -->
      <div class="product">
        <img src="assets/products/nic-melancia.png" alt="NYX Watermelon" />
        <p class="product-name">NYX WATERMELON 9MG</p>
        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="product-price"><span>R$</span>30,00</p>
        <button class="cta-button" (click)="adicionarCarrinho()">Adicionar ao Carrinho</button>
     </div>
    <!-- Produto 5 -->
   <div class="product">
  <img src="assets/products/nic-coffe.png.png" alt="NYX Coffee" />
  <p class="product-name">NYX COFFEE 9MG</p>
  <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  <p class="product-price"><span>R$</span>30,00</p>
  <button class="cta-button" (click)="adicionarCarrinho()">Adicionar ao Carrinho</button>
    </div>
    </div>
  </div>
</main>

<footer class="gray-background">
  <div class="page-inner-content footer-content">
    <p style="padding:1rem 0; color:#fff;">NYX POUCHES — Todos os direitos reservados</p>
  </div>
</footer>
